.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.loader::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spin 0.8s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.back-button {
  background-color: #1e3a8a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
  margin-left: 1.5%;
  margin-top: 1.5%;
}

.back-button:hover {
  background-color: #24499e;
}
